name: Build & Deploy Frontend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: Lint and build
        env:
          NODE_ENV: production
          VITE_APP_API_BASE_URL: ${{ secrets.VITE_APP_API_BASE_URL }}
          VITE_APP_GOOGLE_CLIENT_ID: ${{ secrets.VITE_APP_GOOGLE_CLIENT_ID }}
          VITE_APP_BASE_URL: ${{ secrets.VITE_APP_BASE_URL }}

        run: |
          npm ci
          npm run lint
          npm run build

      - name: Setup SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy to server
        run: |
          rsync -avz --delete dist/ ${{ vars.DEPLOY_TARGET }}
